mixin header-nav-links(listClass, listItemClass, linkClass)
  ul(class=listClass)
    li(class=listItemClass)
      a(class=linkClass href="#") Projects
    li(class=listItemClass)
      a(class=linkClass href="#") About
    li(class=listItemClass)
      a(class=linkClass href="#") Contact