mixin header-nav-links(listClass, listItemClass, linkClass)
  ul(class=listClass)
    li(class=listItemClass)
      a(class=linkClass href="#") Projects
    li(class=listItemClass)
      a(class=linkClass href="#") About
    li(class=listItemClass)
      a(class=linkClass href="#") Contact

mixin home-project(linkHref, title, desc, imgSrc)
  .home-project
    a.home-project__anchor(href=linkHref)
      h3.home-project__name #{title}
      p.home-project__desc #{desc}
      img.home-project__image(src=imgSrc, alt="#{title} screenshot")