mixin header-nav-links(listClass, listItemClass, listItemId)
  ul(class=listClass)
    li(class=listItemClass) Projects
    li(class=listItemClass linkClass id=listItemId) About
    li(class=listItemClass) Contact

mixin home-project(linkHref, title, desc, imgSrc, srcSet)
  .home-project
    a.home-project__anchor(href=linkHref)
      .home-project__text
        h3.home-project__name #{title}
        p.home-project__desc #{desc}
      img.home-project__image(src=imgSrc, srcset=srcSet, title="#{title} screenshot")